body,html{
    width: 100%;
    height: 100%;
    font-family: Andale Mono, monospace;
    font-weight: bold;
}



.header {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.btn-success{
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}
.btn:hover{
    color: #fff;
    background-color: #5e5959;
    border-color: #5e5959;
}

.vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.vertical-center h1{
    font-size: 3em;
    font-weight: 500;
}


/* top na bar */
.topnav {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
}
#home{
    background-color: rgba(53, 53, 53, 0.705);
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.bg-img {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /* background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat; */
    background-size: cover;
    transition: 1s opacity;
}



/* video */
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
/* video */


/* form */
input[type=text] {
    text-align: center;
    color: white;
    width: 20%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 100%;
    background-color: transparent;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;

}
::-webkit-input-placeholder :focus{ /* Chrome/Opera/Safari */
    color: black;
}


/* footer */
.custom-j div{
    color: rgb(255, 255, 255);
}

.cus-row{
    padding: 5px;
}

.custom-j{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.5);

}

/* Ours page */
.vertical-center-left {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
.vertical-center-left h1{
    font-size: 5rem;
}

.propic-row{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: Flex;
    align-items: center;
    justify-content: center;

}
.propic-row img{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.propic-row p{
    font-size: 1rem;
}

.toolpic-row{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: Flex;
    align-items: center;
    justify-content: center;
    margin: 0%;

}
.toolpic-row img{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.toolpic-row p{
    font-size: 1rem;
}
.toolpic-row div{
    width: 100%;
    margin: 0%;
    padding: 20px;
}


#top-ab{
    background: linear-gradient( rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781) ),  url(https://static-ssl.businessinsider.com/image/57864c79dd0895a55e8b4664-1920/pokemon%20movie.jpg);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}

#tool-ab{
    background: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781)), url(http://www.markstudioindia.com/adminpanel/upload/3511404972video-editing-studio.jpg);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}
.hero, .content{
    text-align:center; 
    position:relative;
    width: 100%;
  }

.hor-cen{
    justify-content:center;
    align-items:center;
    text-align:center;
}

.git{
    width:100px; 
    margin:0%;
    height: 100px
}

 

.over {
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.over:hover {
    background: #696969;
    border-radius: 6px;

    box-shadow: 0 5px 0 #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
    transition: all .1s linear;
  }

.over:active {
    box-shadow: 0 3px 0 #aaaaaa;
    transform: translateY(3px);
  }
  
.img{
    background-image: url('./Img/github-svg.svg');
    background-size: 100px 100px;
    transition-property: background-image;
    transition-duration: .1s, .1s;
    transition-timing-function: linear;
}

.over:hover .img{
    background-image: url('./Img/logo-2.png');
    background-size: 100px 100px;
    transition-property: background-image;
    transition-duration: .1s, .1s;
    transition-timing-function: linear;
    
}

.over:active .img{
    background-image: url('./Img/logo-3.png');
    background-size: 100px 100px;
}

.contact{
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
    padding: 12px;
    margin: 9px;
}

.contact:hover{
    background: #696969;
    border-radius: 6px;

    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
    transform: scale(1.05);
    transition: all .2s linear;
}

.contact:active{
    box-shadow: 0 0 40px 0px #aaaaaa;
    /* transform: translateY(5px); */
    /* transition: all 200ms ease-in; */
    transform: scale(1.1);
}

.contact:hover img{
    border-color: white;
    border-width: 2px;
}


.tool-1{
    /* background-color: rgba(82, 3, 138, 0.986); */
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
    height: 100%;

}

.tool-1:hover{
    background: rgba(58, 0, 97, 0.986);

    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
    
}

.tool-1:hover img{
    border-color: white;
    border-width: 2px;
    transform: scale(1.05);
    transition: all .2s linear;
}


.tool-2{
    /* background-color: #928405; */
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
    height: 100%;
}

.tool-2:hover{
    background: #685e01;

    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
 
}

.tool-2:hover img{
    border-color: white;
    border-width: 2px;
    transform: scale(1.05);
    transition: all .2s linear;
}

.tool-3{
    /* background-color: #9b3e16; */
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
    height: 100%;
}

.tool-3:hover{
    background: #692a0d;

    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
 
}

.tool-3:hover img{
    border-color: white;
    border-width: 2px;
    transform: scale(1.05);
    transition: all .2s linear;
}


.tool-4{
    /* background-color: #1b799e; */
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
    height: 100%;
}

.tool-4:hover{
    background: #212e50;

    box-shadow: 0 0 20px 0px #aaaaaa;
    color: #fff;
    cursor: pointer;
    font: inherit;
 
}

.tool-4:hover img{
    border-color: white;
    border-width: 2px;
    transform: scale(1.05);
    transition: all .2s linear;
}